{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <!-- 适应手机屏幕 -->
    <meta
      charset="utf-8"
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <title>YB_Django</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.ico' %}"
    />
    <style>
      #login-btn {
        width: 120px;
        height: 30px;
        background-color: #00a5ed;
        border-style: none;
        color: white;
        font-weight: bold;
        border-radius: 5px;
      }
      #login-btn:hover {
        background-color: #2486c7;
        cursor: pointer;
      }
      #get-wangxin-jingyan-btn {
        width: 120px;
        height: 30px;
        background-color: #5cb85c;
        border-style: none;
        color: white;
        font-weight: bold;
        border-radius: 5px;
      }
      #get-wangxin-jingyan-btn:hover {
        background-color: #449644;
        cursor: pointer;
      }
      #execute-script-btn {
        width: 80px;
        height: 30px;
        background-color: #e33f33;
        border-style: none;
        color: white;
        font-weight: bold;
        border-radius: 5px;
      }
      #execute-script-btn:hover {
        background-color: #c0261b;
        cursor: pointer;
      }
    </style>
  </head>

  <script>
    // 页面加载完成后
    function after_onload() {
      // 判断账号密码是否为空
      if (
        !(account = localStorage.getItem("account")) ||
        !(password = localStorage.getItem("password"))
      ) {
        return;
      }

      // 把账号密码填入输入框内
      document.getElementById("account").value = account;
      document.getElementById("password").value = password;

      // 提示
      document.getElementById("login-info").innerHTML = "正在查询登录状态";

      // 登录按钮不可用
      document.getElementById("login-btn").disabled = true;

      // 查询登录状态
      fetch("/is_login").then((res) =>
        res.json().then((json) => {
          // 登录按钮取消不可用
          document.getElementById("login-btn").disabled = false;

          if (json.isLogin) {
            // 提示
            document.getElementById("login-info").innerHTML =
              "已登录，无需再次登录";

            // 显示登录成功后应该显示的元素
            document.getElementById("after-login").style.display = "inline";
          } else {
            // 提示
            document.getElementById("login-info").innerHTML =
              "未登录，请先登录";
          }
        })
      );
    }

    // 执行脚本
    function rush_yb() {
      // 按钮不可用
      document.getElementById("login-btn").disabled = true;
      document.getElementById("get-wangxin-jingyan-btn").disabled = true;
      document.getElementById("execute-script-btn").disabled = true;

      // 向接口发送数据
      fetch("/rush_yb").then((res) =>
        res.text().then((text) => {
          // 显示返回的信息
          document.getElementById("execute-info").innerHTML = text;

          // 按钮取消不可用
          document.getElementById("login-btn").disabled = false;
          document.getElementById("get-wangxin-jingyan-btn").disabled = false;
          document.getElementById("execute-script-btn").disabled = false;
        })
      );
    }

    // 刷新验证码
    function refresh_captcha() {
      document.getElementById("captcha").src = "/captcha?key=" + new Date();
    }

    // 查询网薪和经验
    function get_wangxin_jingyan() {
      // 按钮不可用
      document.getElementById("login-btn").disabled = true;
      document.getElementById("get-wangxin-jingyan-btn").disabled = true;
      document.getElementById("execute-script-btn").disabled = true;

      // 向接口发送数据
      fetch("/wangxin_jingyan").then((res) =>
        res.text().then((text) => {
          // 显示返回的信息
          document.getElementById("execute-info").innerHTML = text;

          // 按钮取消不可用
          document.getElementById("login-btn").disabled = false;
          document.getElementById("get-wangxin-jingyan-btn").disabled = false;
          document.getElementById("execute-script-btn").disabled = false;
        })
      );
    }

    // 登录
    function login() {
      // 判断账号密码是否为空
      if (
        !document.getElementById("account").value ||
        !document.getElementById("password").value
      ) {
        document.getElementById("login-info").innerHTML = "账号或密码为空";
        return;
      }

      // 是否为新的账号
      var new_account = 1;
      if (
        localStorage.getItem("account") !=
        document.getElementById("account").value
      ) {
        new_account = 0;
      }

      // 保存账号密码到本地
      localStorage.setItem("account", document.getElementById("account").value);
      localStorage.setItem(
        "password",
        document.getElementById("password").value
      );

      // 登录按钮不可用
      document.getElementById("login-btn").disabled = true;

      // 隐藏未登录时不应该显示的元素
      document.getElementById("after-login").style.display = "none";

      // 隐藏验证码元素
      document.getElementById("captcha").style.display = "none";
      document.getElementById("captcha-input").style.display = "none";

      // 向接口发送数据
      fetch("/login", {
        method: "POST",
        body: JSON.stringify({
          account: document.getElementById("account").value,
          password: document.getElementById("password").value,
          captcha: document.getElementById("captcha-input").value,
          new_account: new_account,
        }),
      }).then((res) =>
        res.json().then((json) => {
          // 显示信息
          if (json.code == 200) {
            document.getElementById("login-info").innerHTML =
              "已登录，无需再次登录";
          } else {
            document.getElementById("login-info").innerHTML = json.message;
          }

          // 登录按钮取消不可用
          document.getElementById("login-btn").disabled = false;

          // 显示登录成功后应该显示的元素
          if (json.code == 200) {
            document.getElementById("after-login").style.display = "inline";
          }

          // 显示验证码
          if (json.code == "711") {
            document.getElementById("captcha").style.display = "inline";
            document.getElementById("captcha").src =
              "/captcha?key=" + new Date();
            document.getElementById("captcha-input").style.display = "inline";
          }
        })
      );
    }
  </script>

  <!-- 加载完成后自动填入账号密码 -->
  <body onload="after_onload()">
    <div id="global" style="text-align: center;">
      <font size="6" style="color: #666666;">YB_Django </font>
      <a href="https://github.com/FH0/YB_Django"
        ><img src="{% static 'github.ico' %}" style="width: 25px;"
      /></a>

      <hr />

      <br />
      <br />

      <div style="text-align: left; height: 30px; margin-bottom: 0px;">
        <p
          id="login-info"
          style="
            position: absolute;
            font-size: 12px;
            margin-bottom: 2px;
            width: 180px;
            margin-left: -94px;
            left: 50%;
            color: #e65c00;
          "
        ></p>
      </div>
      <input
        type="text"
        id="account"
        style="width: 180px; height: 25px;"
        placeholder="请输入账号"
      />
      <p></p>
      <input
        type="password"
        id="password"
        placeholder="请输入密码"
        style="width: 180px; height: 25px;"
        οnkeyup="if(event.keyCode == 13) { login() }"
      />
      <p></p>
      <img id="captcha" style="display: none;" onclick="refresh_captcha()" />
      <p></p>
      <input
        type="text"
        id="captcha-input"
        placeholder="请输入验证码"
        style="display: none; width: 180px; height: 25px;"
      />
      <p></p>
      <input type="button" id="login-btn" value="登 录" onclick="login()" />
      <p></p>

      <br />
      <br />

      <div id="after-login" style="display: none;">
        <input
          type="button"
          id="get-wangxin-jingyan-btn"
          value="查询网薪和经验"
          onclick="get_wangxin_jingyan()"
        />
        <input
          type="button"
          id="execute-script-btn"
          value="执行脚本"
          onclick="rush_yb()"
        />
        <p></p>
        <p id="execute-info"></p>
      </div>
    </div>
  </body>
</html>
